body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #0E1215;
    margin-top: 20px;
    background-color: #FAFAFA;
    text-align: center;
}

header {
    background-color: #0E1215;
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}
  
h1 {
    font-size: 2rem;
    text-align: justify;
}
  
h2 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

nav {
    float: right;
    color: #FAFAFA;
    text-decoration: none;
}

.grid-container {
    background-color: white;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.testimonial {
    background-color: #FAFAFA;
    padding: 2rem;
    text-align: center;
}
  
.testimonial p {
    margin-bottom: 1rem;
}

.contact {
    text-align: center;
    margin-top: 2rem;
}
  
.contact a {
    display: inline-block;
    margin: 1rem;
}
  
.contact img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
  
.contact img:hover {
    transform: scale(1.2);
}
  